data/page_images/

# Bo qua cac file dung luong lon > 100MB (GitHub chan push > 100MB)
data/*.zip
data/bronze/duoc_thu
# Bỏ qua triệt để mọi file PDF ở tất cả các thư mục con
*.pdf

# Checkpoint / Docker volumes
docker_volumes/
!docker_volumes/**/.gitkeep
.ipynb_checkpoints/
__pycache__/

# Checkpoint / Notebook temp
/step3_finetune_kaggle.ipynb

# Bo qua thu muc chua data cua Docker de tranh bi crash Github
docker_volumes/
!docker_volumes/**/.gitkeep

# Bỏ qua toàn bộ model AI và trọng số safetensors nặng
models/
*.safetensors
*.bin
*.pt